<div class="overlay"></div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="/" class="profilepic">
			<% if (theme.animate){ %>
			<img lazy-src="<%=theme.avatar%>" class="js-avatar">
			<%}else{%>
			<img src="<%=theme.avatar%>" class="js-avatar" style="width: 100%;height: 100%;opacity: 1;">
			<%}%>
		</a>

		<hgroup>
		  <h1 class="header-author"><a href="/"><%=theme.author%></a></h1>
		</hgroup>

		<% if (theme.subtitle){%>
		<p class="header-subtitle"><%=theme.subtitle%></p>
		<%}%>
		<% if (theme.search_box){ %>
		<form><input type="text" id="bdcsMain" class="search" placeholder=" Search..."></form>
		<%- partial('baidu-search') %>
		<%}%>		
		<div id="switch-area" class="switch-area">
			<div class="switch-wrap">
				<section class="switch-part switch-part1">
					<nav class="header-menu">
						<ul id="header-menu-active">
							<% for (var i in theme.menu){ %>
							    <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
							<%}%>
						</ul>
					</nav>
				</section>

                <%if(theme.tagcloud){%>
                <section class="switch-part switch-part2 hide">
                    <div class="widget tagcloud" id="js-tagcloud">
                        <%- tagcloud() %>
                    </div>
                </section>
                <%}%>

                <%if(theme.friends && theme.friends.length != 0){%>
                <section class="switch-part switch-part3 hide">
                    <div id="js-friends">
                        <% for (var i in theme.friends){ %>
                        <a target="_blank" class="main-nav-link switch-friends-link" href="<%- url_for(theme.friends[i]) %>"><%= i %></a>
                        <% } %>
                    </div>
                </section>
                <%}%>

                <%if(theme.aboutme){%>
                    <section class="switch-part switch-part4 hide">
                        <div id="js-aboutme"><%=theme.aboutme%></div>
                    </section>
                <%}%>
			</div>
		</div>
	</header>
</div>
<nav class="header-nav J_header-nav">
	<ul class="social">
		<% for (var i in theme.subnav){ %>
        <%  var title;
            if(i == 'sina'){
                title = '新浪微博'
            }else if(i == 'zhihu'){
                title = '知乎'
            }else if(i == 'douban'){
                title = '豆瓣'
            }else if(i == 'wechat'){
                title = '微信'
            }else{
                title = i
            }
        %>
		<% if(i !== 'RSS'){ %>
            <% theme.subnavPush.push(i); %>
                <li id="<%= i  %>">
                    <a target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>">
                        <% if(theme.subnavPush.length % 2 !== 0) {%>
                            <i class="<%= i %>"></i><span class="right"><%= title %></span>
                        <% } else { %>
                            <span class="left"><%= title %></span><i class="<%= i %>"></i>
                        <% }%>
                    </a>
                </li>
        <%}}%>
	</ul>
    <% if(theme.friends){ %>
        <a class="header-friends J_link" href="javascript:;"><i></i>友情链接</a>
    <% }%>
    <a class="icon-rss" target="_blank" title="<% theme.subnav.RSS %>" href="<%- url_for(theme.subnav.RSS) %>"><i></i>RSS</a>
</nav>